
<html>
  <head>
      <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    
        <title>Login</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">
    
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
        <style>
          body {
            background-color:#000;
          }
          .homepage {
            width: 100%;
            height: 100%;
            margin: 0;
            background: url(https://romulobrasil.com/romae-content/uploads/2018/12/filmes-super-heroi-2018.jpg);
            z-index: -1;
          }
          #login-box {
            background: #fff;
            z-index: 1;
            padding: 40px 40px;
            box-shadow: 5px 10px 10px #000;
          }
        </style>
  </head>
  <body>
    <div class="homepage">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-4" id="login-box">
            <form id="form-signin" class="text-center mb-4" id="login-box">
              <h1 class="h3 mb-3 font-weight-normal">
                <spam style="font-weight:bold;color:#8B2500;font-family:'Roboto';"><b>SD</b></spam>Flix
              </h1>
              <p>Faça <i>login</i> para assistir diversos títulos</p>
              <br>
              <input type="email" id="email" class="form-control" placeholder='E-mail' required autofocus>
              <br>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      function sendLogin() {
        const email = document.getElementById("email").value
        const password = document.getElementById("password").value
        console.log(email, password)
        if(!email || !password) return
        fetch("/login", {
          method: 'POST', 
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({email, password})}
        )
        .then(response => response.text())
        .then(text => {
          sessionStorage.setItem('authToken', text);
        })
      }
    </script>
  </body>
</html>