extends layout

block content
    div(style='margin:0 auto;')
        // Mude o src dessa tag para o nome do video que você possuir
        video(src='/movies/video.mp4', controls='', width='640', height='480')
